body {
    background-color: #F3E4CE;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #780214;
  }

  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #121954;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

p {
  color: #780214
}
form {
  color: #780214
}
/* select {
  color : #1A2375;
} */

li {
  color : #E29728;
  /* background-color: #520000; */


}

/* p.one {
    border-style: solid;
    border-color: #E29728;
  } */

