

body {
    /* background-color: #F3E4CE; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;

  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #780214;
    align-self: center;
  }

  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #121954;

  }

  h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E29728;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

p {
  color: #780214;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 8em;
  padding-right: 8em; */
}
form {
  color: #780214;
  margin-left: auto;
  margin-right: auto;
}

select {
  color : #350150;
  margin-left: auto;
    margin-right: auto;
}

li {
  color : #E29728;
  
  /* background-color: #520000; */


}

a {
  color : #350150

}

button {
  background-color: #F3E4CE;
}

textarea {
  color : #350150
}
div.rainbow-button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 7em;
  align-items: center;
  margin: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  /* background: linear-gradient(to right, #780214, red, #E29728, #E6BF0F,#469E03, blue, #121954 ); */
  /* background: linear-gradient(to right, red, #dbe60f,blue ); */
  background: linear-gradient(to right,white, white,grey, grey,black, #0a1b60, #520000,#e2bd28, yellow);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-letters {
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  /* background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722); */
  background: linear-gradient(to right,grey,grey,black, #0625a2, #830505,#eec10a);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.container-fluid{
  background-color: #F3E4CE;
}

div.homepage {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2em;
  padding-bottom: 25em;

 

}

body.homebody {
  margin: center;
  border: 10em;
  align-items: center;
  text-align: center;
  background-image: url(/static/img/pluto-artist-workspace.jpeg);
  
}

p.homepara {
  font-size: 20px;
  padding-left: 15em;
  padding-right: 15em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* background-color: #F3E4CE(0,0,0,0.4); */
  /* background-color: rgba(240, 233, 211, 0.4); */

}

p.homepara span {
  background-color: rgba(240, 233, 211, 0.9);

}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: 10px;
  align-items: center;
}

div.info {
  border-radius: 1px;
  /* border: 2px solid #F3E4CE; */
  border: 2px solid black;
  /* width: 22em; */
  height: 25em;
  margin: 2em;
  padding: 1em;
  display: inline-block;
  align-items: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:auto; 
  margin-top: auto;
}


img {
  height: 15em;
  align-items: center;
  background-color: #F3E4CE;
  background: transparent;

}


