body {
    background-color: #F3E4CE;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #780214;
    align-self: center;
  }

  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #121954;
  }

  h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E29728;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

p {
  color: #780214
}
form {
  color: #780214
}
/* select {
  color : #1A2375;
} */

li {
  color : #E29728;
  /* background-color: #520000; */


}

a {
  color :#780214
}

button {
  color :#780214
}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 20px;
  align-items: center;
}

div.info {
  border-radius: 3px;
  border: 3px solid black;
  width: 22em;
  height: 25em;
  margin: 2em;
  padding: 1em;
  display: inline-block;
}


img {
  height: 15em;
  align-items: center;
}


