<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="rainbow-letters" href="/">Calculate & Create </a>
        <div class="nav justify-content-end" id="navbarNavAltMarkup">
          <div class="nav justify-content-end">
            <a class="nav-link" href="/homepage" style= "color : purple;">Home</a>
            <a class="nav-link" href="/paint_info" style= "color : #E29728;">Paint Info</a>
            <a class="nav-link" href="/calc_examples" style= "color : #0A1E33">Examples</a>
            <a class="nav-link" href="/render_form" style= "color : #8F0000">Create</a>
          </div>
        </div>
      </div>
    </nav>
    <p class='painting-name'>&nbsp;</p>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </title>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <body>{% block body %}BODY GOES HERE{% endblock %}</body>

    
    {% block after_body %}{% endblock %}
  </body>
</html>
