{% extends 'base.html' %}
{% block title %}Calculate & Create Home{% endblock %}

{% block body %}
  <h1>Calculate & Create</h1>
  <h2>Time to Calculate & Create your dry time!</h2>
  
    <!-- FOR TESTING PURPOSES  -->
    <!-- <li><a href="/get_paint_types">View all paint types</a></li> -->
    <!-- <li><a href="/get_weather">View all weather conditions</a></li> -->
    <!-- <li><a href="/get_canvas_sizes">View all canvas sizes</a></li> -->
    <!-- <li><a href="/render_form">Calculate My Creation!</a></li> -->
<!-- FOR TESTING PURPOSES^^^^ -->
  <button>
    <a href="/render_form">Calculate My Creation!</a>

  </button>
   
  


  {% endblock %}
  