{% extends 'base.html' %}
{% block title %}Calculate & Create Home{% endblock %}

{% block body %}
  <h1>Time to Calculate & Create!</h1>
  
  <!-- <h2>Navigation</h2> -->
  <ul>
    <li><a href="/get_paint_types">View all paint types</a></li>
    <li><a href="/get_weather">View all weather conditions</a></li>
    <li><a href="/get_canvas_sizes">View all canvas sizes</a></li>
    <!-- <li><a href="/ ">Calculate My Dry time</a></li> -->

    <!-- <li><a href="/">View all users</a></li> -->
  </ul>
  {% endblock %}
  