<!DOCTYPE html>
<html>
<head >

	<title>{% block title %}Calculate & Create{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

	
    {% block js %}
    <script src="/static/js/PaintTypeInfo.jsx" type="text/jsx"></script>
	

	{% endblock %}

	{% extends 'base.html' %}

</head>
<body>
    {% block body %}

		<h2>Learn more about the medium you're using and it's dry time</h2>
	
		<div id="paint-info" class="grid"></div>
		<hr>

    {% endblock %}
</body>
</html>




