<div class="card text-center">
    {% extends 'base.html' %}
    {% block body %}

    <div class="card-header">
        {{ fname }} {{ lname }}, your Calculation has been Created!   
     </div>
    <div class="card-body">
      <h5 class="card-title">{{ painting_name }}</h5>
      <h6 class="card-title">Sent to:</h6>
      <p class="card-text">
         {{ phone_number }}
      </p>
      <h6 class="card-title">With your total dry time in:</h6>
      <p class="card-text">
          {{ dry_time_min }} Minutes or 
          {{ "%.1f" |format(dry_time_hour) }} Hours
      </p>
      <p class="card-text"></p>
      <a href="/render_form" class="btn btn-outline-danger">Create Another Calculation</a>
    </div>
    <div class="card-footer text-muted">
        *Please note: All calculated dry times may vary on rapid climate changes
    </div>
    {% endblock %}  

</div>
