<div class="alert alert-success" role="alert" style="background-color:#F3E4CE">
    {% extends 'base.html' %}
    {% block title %}Calculate & Create Home{% endblock %}


    {% block body %}

        <h4 class="alert-heading">{{ full_name }}, your Calculation has been Created!</h4>
        <h5>Sent to:</h5>
        <p>
           {{ full_name }} @ {{ phone_number }}
        </p>
        <hr>
        <h5>With your total dry time in:</h5>
        <p>
            {{ dry_time_min }} Hours or 
            {{ dry_time_hour }} Minutes
        </p>
        <hr>
        <p class="mb-0">Please note: All calculated dry times may vary on rapid climate changes </p>
    {% endblock %}  
</div>
